### VisualStudioCode ###
.vscode/*
.vscode/**/*
#!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
build/*
arduino_secrets.h
WebServerWiFi/.theia_bk/launch.json
WebServerWiFi/.vscode_bk/*
